:root{
    --meat-bg: rgb(177, 100, 37);
    --meat-text: rgb(48, 29, 16);
    --veggie-bg: linear-gradient(#E0E0E0, #C5C5C5);
    --veggie-strong: black;
    --veggie-text: rgb(100, 81, 56);
}

body, html {
    padding: 0;
    margin: 0;
    font-family: "Overpass";
    overflow: hidden;
}

.header {
    margin: 0;
    padding: 30px;
    width: 40%;
    height: 100px;
    float: right;
    text-align: right;
    z-index: 0;
    color: #484848;
}

.nav {
    display: flex;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.nav > span{
    padding: 5px 10px;
}

.title {
    font-size: 34px;
    font-weight: 500;
    position: absolute;
    right: 60px;
    top: 30px;
    z-index: 2;
}
.container {
    margin: auto;
}

.meat {
    background: var(--meat-bg);
    color: var(--meat-text);
}

.veggie {
    background: var(--veggie-bg);
    color: var(--veggie-strong);


    height: 100vh;
}

#THETRUEBUTTON {
    position: absolute;
    right: 90px;
    top: 500px;
    font-size: 24px;
    text-align: center;
    background-color: #F2F2F2;
    color: var(--veggie-bg);
    border: none;
    font-weight: 400;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 0px 0px white;
    color: #484848;
    cursor: pointer;

    transition: .2s;
}
#THETRUEBUTTON:hover{
    box-shadow: 5px 5px 0px 0px white;

    transition: 0s;
}
#THETRUEBUTTON:active{
    background-color: white;
    box-shadow: 0px 0px 0px 0px white;

    transition: 0s;
}

#content {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 43%;
    height: 100vh;
    z-index: 0;
    padding-top: 250px;

    background-color: #F2F2F2;
    overflow: hidden;
    overflow-y: hidden;
}

.center-contents.column {
    display: flex;
    justify-content: center;
    align-items: space-around;
    text-align: center;
}

.brick {
    height: 20px;
}

summary {
    outline: none;
    float: left;
    width: 100%;
    /* 
        this eliminates the blue box that 
        shows when you select them
    */
}

details {
    color: var(--meat-text);
    width: 80%;
}

.gargantuan-text{
    font-size: 420px;
    color: #f2f2f2;
    position: absolute;
    z-index: 0;
    transform: rotate(29.94deg);
    right: -100px;
    letter-spacing: -9px;
    top: 50px;
}



#dark{
    color: #484848;
}